//---------------Mixin Containers---------------
// Primary Container

@mixin primary-container {
    padding: 16px;
    gap: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: $small-shade;
    background-color: $white-color;
}
 

//Secondary Container Layout
@mixin secondary-container {
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $neutral-color-gray;
    border: 1px solid $secondary-color-gray-500;
    margin-bottom: 24px;
    @media (max-width: $mobile-queries){
        padding: 16px;
        margin-bottom: 8px;
    }
}
//Secondary Container Header
@mixin secondary-container-header {
    h2{
        font-family: $bold-font;
        font-size: 18px;
        margin: 0;
        @media (max-width: $mobile-queries){
            font-size: 16px;
        }
    }
}

//Main card
@mixin main-card ($background-color) {
    box-sizing: border-box;
    width: 100%;
    border-radius: 16px;
    border: 1px solid $secondary-color-gray-500;
    background-color: $background-color;
    padding: 16px;
}
//Interactive card - This card can be use to drag and drop, upload, or empty states with actions
@mixin interactive-card {
    border: 2px dashed $secondary-color-gray-500;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    a{
        color: $secondary-color-gray-700;
        font-family: $regular-font;
        justify-content: center;
    }
}

//Box info Container
@mixin box-info {
    display: flex;
    gap: 16px;
    padding: 16px;
    background-color: $secondary-color-yellow-600;
    border-radius: 8px;
    font-size: $text4;
    font-family: $regular-font;
    text-align: start;
    align-items: center;
    p{
        margin: 0;
        width: 100%
    }
    b{
        font-family: $bold-font;
    }
}

//---------------UI Containers---------------
// Primary Container

.container-resumen{
    @include primary-container;
    width: 100%;    
    box-sizing: border-box;
    &__header, p{
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-family: $regular-font;
        font-size: $text3;
    }
    &__content{
        display: flex;
        gap: 16px;
        .icon-container{
            @include flex-display(row);
            color: $white-color;
            width: 32px;
            height: 32px;
            padding: 4px;
            border-radius: 8px;
            background-color: $primary-color-yellow;
        }
        .resumen-values{
            display: flex;
            flex-direction: column;
            &__main{
                font-size: $text2;
                font-family: $bold-font;
            }
            &__caption{
                font-size: $caption;
                font-family: $regular-font;
                color: $secondary-color-gray-900;
            }
        }
    }
}


// Secondary Container
.container-secondary{
    @include secondary-container;
    &__header{
        @include flex-display(row);
        @include secondary-container-header;
        justify-content: space-between;
        .id-mobile{
            display: none;
            @media (max-width: $mobile-queries){
                font-family: $regular-font;
                font-size: $mob-caption;
                display: flex;
            } 
        }
        h3{
            font-family: $bold-font;
            font-size: 18px;
        }                     
    }
    &__info{
        @include flex-display(row);
        justify-content: space-between;
        align-items: start;
        gap: 24px;
        @media (max-width: $mobile-queries){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 16px;
        }
        .info-item{
            @include flex-display(row);
            gap: 4px;
            width: 100%;
            justify-content: start;
            @media (max-width: $mobile-queries){
                flex-direction: column;
                align-items: start;
            } 
            &__label{
                font-family: $regular-font;
                font-size: $text3;
                margin: 0;
                @media (max-width: $mobile-queries){
                    font-size: $mob-text3;
                } 
            }
            &__content{
                font-family: $bold-font;
                font-size: 16px;
                margin: 0;
                @media (max-width: $mobile-queries){
                    font-size: $mob-text3;                    
                } 
            }
            .item__tag{
                @include tag($secondary-color-yellow-600);
                .circle{
                    @include circle-status($secondary-color-yellow-700)
                }                  
            }
            .positive-tag{
                @include tag($secondary-color-green-500);
            }
            .negative-tag{
                @include tag($secondary-color-orange-600)
            }
        }
        .info-item-vertical{
            @extend .info-item;
            flex-direction: column;
            align-items: start;
        }
        .id-desktop{
            @extend .info-item;
            @media (max-width: $mobile-queries){
                display: none;
            } 
        }
        .membership-item{
            @include flex-display(column);
            align-items: start;
            gap: 0;
            .info-item{
                @extend .info-item;
                &__content{
                    @extend .info-item__content;
                }
            }
            &__price, p{
                margin: 0;
                font-family: $regular-font;
                font-size: 14px;
            }
        }
    }
    //card split 2 sides - Mi account - Plans
    &__split{
        display: flex;
        gap: 24px;
        @media (max-width: $mobile-queries){
            flex-direction: column;
        }
        .left-side{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            .membership-item:first-child{
                grid-column: 1/3;
            }
            p{
                grid-column: 1/3;
                margin: 0;
                font-size: $text4;
                font-family: $regular-font;
            }
        }
        .right-side{
            width: 100%;
            @include flex-display(column);
            gap: 16px;
            &__resumen{
                @include main-card($neutral-color-white);    
            }
            &__add-coupon{
                font-size: $text4;
                font-family: $regular-font;
                display: flex;
                gap: 8px;
            }
        }
    }

    // Membership card
    .membership-card{
        @media (max-width: $mobile-queries){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 16px;
        }
    }
    .membership-item {
        width: 100%;
        &__info{
            @include flex-display(row);
            gap: 4px;
        }
    }

    // Full-row
    .full-row{
        grid-column: 1/3;
        display: flex;
        gap: 4px;
    }

    //Separator
    .separator{
        height: 1px;
        width: 100%;
        background-color: $secondary-color-gray-500;
    }

    //Address container
    .address-container{
        @media (max-width: $mobile-queries){
            display: flex;
            flex-direction: column;
        }
    }
}

// Secondary Container Resumen
.container-secondary-resumen{
    @include secondary-container;
    width: 100%;
    box-sizing: border-box;
    &__header{
        @include secondary-container-header;      
    }
    &__list-items{
        display: flex;
        flex-direction: column;
        gap: 16px;
        .resumen-item, .resumen-item-discount, p{
            display: flex;
            justify-content: space-between;
            font-family: $regular-font;
            font-size: $text3;
            margin: 0;
            @media (max-width: $mobile-queries){
                font-size: $mob-text3;
            }        
        }    
        .resumen-item-discount > p:last-child{
            @extend .resumen-item;
            font-family: $bold-font;
            font-size: $text3;
            color: $primary-color-orange;      
        }
        .resumen-item:last-child > p{
            font-size: $text2;
            font-family: $bold-font;
            margin: 0;
            @media (max-width: $mobile-queries){
                font-size: $mob-text2;
            }
        }
    }
}

// Address card
.saving-card{
    @include main-card($neutral-color-white);
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-self: stretch;
    gap: 16px;
    &__info, p{
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 0;
        font-family: $regular-font;
        p:first-child{
            font-family: $bold-font;
            font-size: $text3;
        }
        .payment-card-brand{
            display: flex;
            gap: 8px;
            justify-content: center;
            align-items: center;
        }
    }
    &__info-options, a{
        display: flex;
        justify-content: start;
        width: 100%;
        color: $color-black;
        gap: 8px;
    } 
    .tag-action-main{
        @include secondary-tag($secondary-color-gray-500);
        a{
            font-size: $caption;
            font-family: $regular-font;
            color: $color-black;
        }
    }
    .tag-action{
        @include secondary-tag-outline($secondary-color-gray-500);
        @include flex-display(row);
        width: 24px;
        height: 24px;
    }    
}
.saving-card:last-child{
    @include interactive-card;
}

