body{
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    background-color: $neutral-color-white;
}

// Grid
.dashboard-main{
    width: 100%;
    box-sizing: border-box;
    padding: 40px 180px 100px 180px;
    @media (max-width: $width-m){
        padding: 32px 10px 100px;
    }
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: $bold-font;
    font-size: $text4;
    color: $principal;
    text-decoration: none;
    @media (max-width: $width-m){
        font-size: $mob-text4;
    }
}