@font-face {
  font-family: "Goldplay-Bold";
  src: url("./fonts/Goldplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Goldplay-Regular";
  src: url("./fonts/Goldplay-Regular.ttf");
}
@font-face {
  font-family: "Goldplay-SemiBold";
  src: url("./fonts/Goldplay-SemiBold.ttf");
}
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fbfbfb;
}

.dashboard-main {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 180px 100px 180px;
}
@media (max-width: 992px) {
  .dashboard-main {
    padding: 32px 10px 100px;
  }
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-family: "Goldplay-Bold";
  font-size: 14px;
  color: #209c93;
  text-decoration: none;
}
@media (max-width: 992px) {
  a {
    font-size: 12px;
  }
}

.container-resumen {
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container-resumen__header, .container-resumen p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  font-family: "Goldplay-Regular";
  font-size: 16px;
}
.container-resumen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.container-resumen__content .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 8px;
  background-color: #FCC23F;
}
.container-resumen__content .resumen-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container-resumen__content .resumen-values__main {
  font-size: 18px;
  font-family: "Goldplay-Bold";
}
.container-resumen__content .resumen-values__caption {
  font-size: 12px;
  font-family: "Goldplay-Regular";
  color: #6D6D6D;
}

.container-secondary {
  padding: 24px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  background-color: #F6F6F6;
  border: 1px solid #EEEEEE;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .container-secondary {
    padding: 16px;
    margin-bottom: 8px;
  }
}
.container-secondary__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-secondary__header h2 {
  font-family: "Goldplay-Bold";
  font-size: 18px;
  margin: 0;
}
@media (max-width: 992px) {
  .container-secondary__header h2 {
    font-size: 16px;
  }
}
.container-secondary__header .id-mobile {
  display: none;
}
@media (max-width: 992px) {
  .container-secondary__header .id-mobile {
    font-family: "Goldplay-Regular";
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.container-secondary__header h3 {
  font-family: "Goldplay-Bold";
  font-size: 18px;
}
.container-secondary__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 24px;
}
@media (max-width: 992px) {
  .container-secondary__info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}
.container-secondary__info .info-item, .container-secondary__info .membership-item .info-item, .container-secondary__info .membership-item .info-item-vertical, .container-secondary__info .membership-item .id-desktop, .container-secondary__info .id-desktop, .container-secondary__info .info-item-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media (max-width: 992px) {
  .container-secondary__info .info-item, .container-secondary__info .membership-item .info-item, .container-secondary__info .membership-item .info-item-vertical, .container-secondary__info .membership-item .id-desktop, .container-secondary__info .id-desktop, .container-secondary__info .info-item-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.container-secondary__info .info-item__label {
  font-family: "Goldplay-Regular";
  font-size: 16px;
  margin: 0;
}
@media (max-width: 992px) {
  .container-secondary__info .info-item__label {
    font-size: 14px;
  }
}
.container-secondary__info .info-item__content, .container-secondary__info .membership-item .info-item__content {
  font-family: "Goldplay-Bold";
  font-size: 16px;
  margin: 0;
}
@media (max-width: 992px) {
  .container-secondary__info .info-item__content, .container-secondary__info .membership-item .info-item__content {
    font-size: 14px;
  }
}
.container-secondary__info .info-item .item__tag, .container-secondary__info .id-desktop .item__tag, .container-secondary__info .info-item-vertical .item__tag {
  font-family: "Goldplay-Regular";
  font-size: 12px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 8px;
  background-color: #FFF8E1;
}
@media (max-width: 992px) {
  .container-secondary__info .info-item .item__tag, .container-secondary__info .id-desktop .item__tag, .container-secondary__info .info-item-vertical .item__tag {
    font-size: 11px;
  }
}
.container-secondary__info .info-item .item__tag .circle, .container-secondary__info .id-desktop .item__tag .circle, .container-secondary__info .info-item-vertical .item__tag .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFD255;
}
.container-secondary__info .info-item .positive-tag, .container-secondary__info .id-desktop .positive-tag, .container-secondary__info .info-item-vertical .positive-tag {
  font-family: "Goldplay-Regular";
  font-size: 12px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 8px;
  background-color: #D0E9ED;
}
@media (max-width: 992px) {
  .container-secondary__info .info-item .positive-tag, .container-secondary__info .id-desktop .positive-tag, .container-secondary__info .info-item-vertical .positive-tag {
    font-size: 11px;
  }
}
.container-secondary__info .info-item .negative-tag, .container-secondary__info .id-desktop .negative-tag, .container-secondary__info .info-item-vertical .negative-tag {
  font-family: "Goldplay-Regular";
  font-size: 12px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 8px;
  background-color: #FCE1DB;
}
@media (max-width: 992px) {
  .container-secondary__info .info-item .negative-tag, .container-secondary__info .id-desktop .negative-tag, .container-secondary__info .info-item-vertical .negative-tag {
    font-size: 11px;
  }
}
.container-secondary__info .info-item-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 992px) {
  .container-secondary__info .id-desktop {
    display: none;
  }
}
.container-secondary__info .membership-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0;
}
.container-secondary__info .membership-item__price, .container-secondary__info .membership-item p {
  margin: 0;
  font-family: "Goldplay-Regular";
  font-size: 14px;
}
.container-secondary__split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media (max-width: 992px) {
  .container-secondary__split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.container-secondary__split .left-side {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.container-secondary__split .left-side > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.container-secondary__split .left-side > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.container-secondary__split .left-side > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.container-secondary__split .left-side > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.container-secondary__split .left-side > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.container-secondary__split .left-side > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.container-secondary__split .left-side > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.container-secondary__split .left-side > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.container-secondary__split .left-side .membership-item:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.container-secondary__split .left-side p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin: 0;
  font-size: 14px;
  font-family: "Goldplay-Regular";
}
.container-secondary__split .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 16px;
}
.container-secondary__split .right-side__resumen {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #EEEEEE;
  background-color: #fbfbfb;
  padding: 16px;
}
.container-secondary__split .right-side__add-coupon {
  font-size: 14px;
  font-family: "Goldplay-Regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media (max-width: 992px) {
  .container-secondary .membership-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}
.container-secondary .membership-item {
  width: 100%;
}
.container-secondary .membership-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.container-secondary .full-row {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.container-secondary .separator {
  height: 1px;
  width: 100%;
  background-color: #EEEEEE;
}
@media (max-width: 992px) {
  .container-secondary .address-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-secondary-resumen {
  padding: 24px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  background-color: #F6F6F6;
  border: 1px solid #EEEEEE;
  margin-bottom: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 992px) {
  .container-secondary-resumen {
    padding: 16px;
    margin-bottom: 8px;
  }
}
.container-secondary-resumen__header h2 {
  font-family: "Goldplay-Bold";
  font-size: 18px;
  margin: 0;
}
@media (max-width: 992px) {
  .container-secondary-resumen__header h2 {
    font-size: 16px;
  }
}
.container-secondary-resumen__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.container-secondary-resumen__list-items .resumen-item, .container-secondary-resumen__list-items .resumen-item-discount > p:last-child, .container-secondary-resumen__list-items .resumen-item-discount, .container-secondary-resumen__list-items p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Goldplay-Regular";
  font-size: 16px;
  margin: 0;
}
@media (max-width: 992px) {
  .container-secondary-resumen__list-items .resumen-item, .container-secondary-resumen__list-items .resumen-item-discount > p:last-child, .container-secondary-resumen__list-items .resumen-item-discount, .container-secondary-resumen__list-items p {
    font-size: 14px;
  }
}
.container-secondary-resumen__list-items .resumen-item-discount > p:last-child {
  font-family: "Goldplay-Bold";
  font-size: 16px;
  color: #E65F36;
}
.container-secondary-resumen__list-items .resumen-item:last-child > p, .container-secondary-resumen__list-items .resumen-item-discount > p:last-child > p {
  font-size: 18px;
  font-family: "Goldplay-Bold";
  margin: 0;
}
@media (max-width: 992px) {
  .container-secondary-resumen__list-items .resumen-item:last-child > p, .container-secondary-resumen__list-items .resumen-item-discount > p:last-child > p {
    font-size: 16px;
  }
}

.saving-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #EEEEEE;
  background-color: #fbfbfb;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  gap: 16px;
}
.saving-card__info, .saving-card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  margin: 0;
  font-family: "Goldplay-Regular";
}
.saving-card__info p:first-child, .saving-card p p:first-child {
  font-family: "Goldplay-Bold";
  font-size: 16px;
}
.saving-card__info .payment-card-brand, .saving-card p .payment-card-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.saving-card__info-options, .saving-card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  color: #0F0F0F;
  gap: 8px;
}
.saving-card .tag-action-main {
  font-family: "Goldplay-Regular";
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: #EEEEEE;
  color: #0F0F0F;
}
.saving-card .tag-action-main a {
  font-size: 12px;
  font-family: "Goldplay-Regular";
  color: #0F0F0F;
}
.saving-card .tag-action {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #EEEEEE;
  color: #0F0F0F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
}

.saving-card:last-child {
  border: 2px dashed #EEEEEE;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.saving-card:last-child a {
  color: #A7A6A6;
  font-family: "Goldplay-Regular";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}
.main-header__title, .main-header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-family: "Goldplay-Bold";
  font-size: 28px;
}
@media (max-width: 992px) {
  .main-header__title, .main-header h1 {
    font-size: 26px;
  }
}
.main-header__support, .main-header p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  font-family: "Goldplay-Regular";
  text-align: center;
  font-size: 12px;
}

.historical-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media (max-width: 992px) {
  .historical-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.danger-zone {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-family: "Goldplay-Regular";
  gap: 16px;
}
.danger-zone__title {
  font-family: "Goldplay-Bold";
  font-size: 28px;
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
}
.danger-zone__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.danger-zone__content section, .danger-zone__content h3, .danger-zone__content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin: 0;
}
.danger-zone__content section h3, .danger-zone__content h3 h3, .danger-zone__content p h3 {
  font-size: 22px;
  font-family: "Goldplay-Bold";
}
.danger-zone__content .btn-outline {
  border-radius: 160px;
  padding: 10px 34px;
  border: 1px solid #D1160A;
  background-color: #fbfbfb;
  font-size: 16px;
  color: #D1160A;
  font-family: "Goldplay-Bold";
  width: 220px;
}
.danger-zone__content .btn-outline:hover {
  cursor: pointer;
}

.table-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.table-card {
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Goldplay-Regular";
}
.table-card__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #EEEEEE;
}
.table-card__main .info-item, .table-card__main .container-secondary__info .info-item-vertical, .container-secondary__info .table-card__main .info-item-vertical, .table-card__main .container-secondary__info .id-desktop, .container-secondary__info .table-card__main .id-desktop, .table-card__main .container-secondary__info .membership-item .info-item, .container-secondary__info .membership-item .table-card__main .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 4px;
}
.table-card__main .info-item__label {
  font-size: 16px;
  margin: 0;
}
@media (max-width: 992px) {
  .table-card__main .info-item__label {
    font-size: 14px;
  }
}
.table-card__main .info-item__content, .table-card__main .container-secondary__info .membership-item .info-item__content, .container-secondary__info .membership-item .table-card__main .info-item__content {
  font-size: 14px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.table-card__main .info-item .item__tag, .table-card__main .container-secondary__info .info-item-vertical .item__tag, .container-secondary__info .table-card__main .info-item-vertical .item__tag, .table-card__main .container-secondary__info .id-desktop .item__tag, .container-secondary__info .table-card__main .id-desktop .item__tag {
  font-family: "Goldplay-Regular";
  font-size: 12px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 8px;
  background-color: #FFF8E1;
}
@media (max-width: 992px) {
  .table-card__main .info-item .item__tag, .table-card__main .container-secondary__info .info-item-vertical .item__tag, .container-secondary__info .table-card__main .info-item-vertical .item__tag, .table-card__main .container-secondary__info .id-desktop .item__tag, .container-secondary__info .table-card__main .id-desktop .item__tag {
    font-size: 11px;
  }
}
.table-card__main .info-item .item__tag .circle, .table-card__main .container-secondary__info .info-item-vertical .item__tag .circle, .container-secondary__info .table-card__main .info-item-vertical .item__tag .circle, .table-card__main .container-secondary__info .id-desktop .item__tag .circle, .container-secondary__info .table-card__main .id-desktop .item__tag .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFD255;
}
.table-card__main .info-item .positive-tag, .table-card__main .container-secondary__info .info-item-vertical .positive-tag, .container-secondary__info .table-card__main .info-item-vertical .positive-tag, .table-card__main .container-secondary__info .id-desktop .positive-tag, .container-secondary__info .table-card__main .id-desktop .positive-tag {
  font-family: "Goldplay-Regular";
  font-size: 12px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 8px;
  background-color: #D0E9ED;
}
@media (max-width: 992px) {
  .table-card__main .info-item .positive-tag, .table-card__main .container-secondary__info .info-item-vertical .positive-tag, .container-secondary__info .table-card__main .info-item-vertical .positive-tag, .table-card__main .container-secondary__info .id-desktop .positive-tag, .container-secondary__info .table-card__main .id-desktop .positive-tag {
    font-size: 11px;
  }
}
.table-card__main .info-item .negative-tag, .table-card__main .container-secondary__info .info-item-vertical .negative-tag, .container-secondary__info .table-card__main .info-item-vertical .negative-tag, .table-card__main .container-secondary__info .id-desktop .negative-tag, .container-secondary__info .table-card__main .id-desktop .negative-tag {
  font-family: "Goldplay-Regular";
  font-size: 12px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 8px;
  background-color: #FCE1DB;
}
@media (max-width: 992px) {
  .table-card__main .info-item .negative-tag, .table-card__main .container-secondary__info .info-item-vertical .negative-tag, .container-secondary__info .table-card__main .info-item-vertical .negative-tag, .table-card__main .container-secondary__info .id-desktop .negative-tag, .container-secondary__info .table-card__main .id-desktop .negative-tag {
    font-size: 11px;
  }
}
.table-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.table-card__content .info-item, .table-card__content .container-secondary__info .info-item-vertical, .container-secondary__info .table-card__content .info-item-vertical, .table-card__content .container-secondary__info .id-desktop, .container-secondary__info .table-card__content .id-desktop, .table-card__content .container-secondary__info .membership-item .info-item, .container-secondary__info .membership-item .table-card__content .info-item {
  font-family: "Goldplay-Regular";
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 8px 1fr 8px 1fr 8px auto;
  grid-template-rows: auto 1fr 1fr auto;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
}
.table-card__content .info-item > *:nth-child(1), .table-card__content .container-secondary__info .info-item-vertical > *:nth-child(1), .container-secondary__info .table-card__content .info-item-vertical > *:nth-child(1), .table-card__content .container-secondary__info .id-desktop > *:nth-child(1), .container-secondary__info .table-card__content .id-desktop > *:nth-child(1), .table-card__content .container-secondary__info .membership-item .info-item > *:nth-child(1), .container-secondary__info .membership-item .table-card__content .info-item > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.table-card__content .info-item > *:nth-child(2), .table-card__content .container-secondary__info .info-item-vertical > *:nth-child(2), .container-secondary__info .table-card__content .info-item-vertical > *:nth-child(2), .table-card__content .container-secondary__info .id-desktop > *:nth-child(2), .container-secondary__info .table-card__content .id-desktop > *:nth-child(2), .table-card__content .container-secondary__info .membership-item .info-item > *:nth-child(2), .container-secondary__info .membership-item .table-card__content .info-item > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.table-card__content .info-item > *:nth-child(3), .table-card__content .container-secondary__info .info-item-vertical > *:nth-child(3), .container-secondary__info .table-card__content .info-item-vertical > *:nth-child(3), .table-card__content .container-secondary__info .id-desktop > *:nth-child(3), .container-secondary__info .table-card__content .id-desktop > *:nth-child(3), .table-card__content .container-secondary__info .membership-item .info-item > *:nth-child(3), .container-secondary__info .membership-item .table-card__content .info-item > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.table-card__content .info-item > *:nth-child(4), .table-card__content .container-secondary__info .info-item-vertical > *:nth-child(4), .container-secondary__info .table-card__content .info-item-vertical > *:nth-child(4), .table-card__content .container-secondary__info .id-desktop > *:nth-child(4), .container-secondary__info .table-card__content .id-desktop > *:nth-child(4), .table-card__content .container-secondary__info .membership-item .info-item > *:nth-child(4), .container-secondary__info .membership-item .table-card__content .info-item > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.table-card__content .info-item > *:nth-child(5), .table-card__content .container-secondary__info .info-item-vertical > *:nth-child(5), .container-secondary__info .table-card__content .info-item-vertical > *:nth-child(5), .table-card__content .container-secondary__info .id-desktop > *:nth-child(5), .container-secondary__info .table-card__content .id-desktop > *:nth-child(5), .table-card__content .container-secondary__info .membership-item .info-item > *:nth-child(5), .container-secondary__info .membership-item .table-card__content .info-item > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.table-card__content .info-item > *:nth-child(6), .table-card__content .container-secondary__info .info-item-vertical > *:nth-child(6), .container-secondary__info .table-card__content .info-item-vertical > *:nth-child(6), .table-card__content .container-secondary__info .id-desktop > *:nth-child(6), .container-secondary__info .table-card__content .id-desktop > *:nth-child(6), .table-card__content .container-secondary__info .membership-item .info-item > *:nth-child(6), .container-secondary__info .membership-item .table-card__content .info-item > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.table-card__content .info-item > *:nth-child(7), .table-card__content .container-secondary__info .info-item-vertical > *:nth-child(7), .container-secondary__info .table-card__content .info-item-vertical > *:nth-child(7), .table-card__content .container-secondary__info .id-desktop > *:nth-child(7), .container-secondary__info .table-card__content .id-desktop > *:nth-child(7), .table-card__content .container-secondary__info .membership-item .info-item > *:nth-child(7), .container-secondary__info .membership-item .table-card__content .info-item > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.table-card__content .info-item > *:nth-child(8), .table-card__content .container-secondary__info .info-item-vertical > *:nth-child(8), .container-secondary__info .table-card__content .info-item-vertical > *:nth-child(8), .table-card__content .container-secondary__info .id-desktop > *:nth-child(8), .container-secondary__info .table-card__content .id-desktop > *:nth-child(8), .table-card__content .container-secondary__info .membership-item .info-item > *:nth-child(8), .container-secondary__info .membership-item .table-card__content .info-item > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.table-card__content .info-item__label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin: 0;
  font-size: 11px;
}
.table-card__content .info-item__content, .table-card__content .container-secondary__info .membership-item .info-item__content, .container-secondary__info .membership-item .table-card__content .info-item__content, .table-card__content .info-item p, .table-card__content .container-secondary__info .info-item-vertical p, .container-secondary__info .table-card__content .info-item-vertical p, .table-card__content .container-secondary__info .id-desktop p, .container-secondary__info .table-card__content .id-desktop p, .table-card__content .container-secondary__info .membership-item .info-item p, .container-secondary__info .membership-item .table-card__content .info-item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  font-size: 14px;
  margin: 0;
}
.table-card__id, .table-card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  gap: 4px;
  margin: 0;
}

.modal-caution {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "Goldplay-Regular";
  font-size: 14px;
  gap: 8px;
  width: 392px;
}
@media (max-width: 992px) {
  .modal-caution {
    width: 90%;
    padding: 16px;
  }
}
.modal-caution__icon {
  width: 120px;
  height: auto;
}
@media (max-width: 992px) {
  .modal-caution__icon img {
    width: 80px;
  }
}
.modal-caution__content, .modal-caution p {
  margin: 0;
  gap: 8px;
}
.modal-caution__content-title, .modal-caution p-title {
  font-family: "Goldplay-Bold";
  font-size: 18px;
}

.modal-preferences {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  font-family: "Goldplay-Regular";
  padding: 0;
  margin: 0;
}
.modal-preferences__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  text-align: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #EEEEEE;
}
.modal-preferences__header .title {
  margin: 0;
  font-size: 28px;
  font-family: "Goldplay-Bold";
}
.modal-preferences__content {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.modal-preferences__content .preference-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 4px;
}
.modal-preferences__content .preference-input input[type=text] {
  padding: 12px 8px;
  border-radius: 8px;
}
.modal-preferences__content .preference-input input[type=text]::-webkit-input-placeholder {
  color: #A7A6A6;
}
.modal-preferences__content .preference-input input[type=text]::-moz-placeholder {
  color: #A7A6A6;
}
.modal-preferences__content .preference-input input[type=text]:-ms-input-placeholder {
  color: #A7A6A6;
}
.modal-preferences__content .preference-input input[type=text]::-ms-input-placeholder {
  color: #A7A6A6;
}
.modal-preferences__content .preference-input input[type=text]::placeholder {
  color: #A7A6A6;
}
.modal-preferences__content .preference-input select {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 8px;
  border-radius: 8px;
  border: 1px solid #0F0F0F;
  background-color: #fff;
  font-family: "Goldplay-Regular";
  font-size: 16px;
}
.modal-preferences__content .preferences-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .modal-preferences__content .preferences-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.modal-preferences__content .preferences-options__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: 100%;
}
.modal-preferences__content .preferences-options__container .main-section, .modal-preferences__content .preferences-options__container p {
  gap: 4px;
  margin: 0;
  font-size: 14px;
  margin: 0;
}
.modal-preferences__content .preferences-options__container .main-section__title, .modal-preferences__content .preferences-options__container p__title {
  margin: 0;
  font-family: "Goldplay-Bold";
  font-size: 16px;
}
.modal-preferences__content .preferences-options__container .options-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-positive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-positive .icon-checked {
  display: none;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-positive input[type=checkbox] + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  font-family: "Goldplay-Regular";
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: #EEEEEE;
  color: #0F0F0F;
  padding: 4px;
  cursor: pointer;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-positive .checkbox-button {
  display: none;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-positive input[type=checkbox]:checked + label {
  font-family: "Goldplay-Regular";
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: #E1FCEF;
  color: #0F0F0F;
  padding: 4px;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-positive input[type=checkbox]:checked + label .icon-checked {
  display: block;
  padding: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #209c93;
  color: #fff;
  position: relative;
  top: -6px;
  right: -6px;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-negative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-negative .icon-checked {
  display: none;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-negative input[type=checkbox] + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  font-family: "Goldplay-Regular";
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: #EEEEEE;
  color: #0F0F0F;
  padding: 4px;
  cursor: pointer;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-negative .checkbox-button {
  display: none;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-negative input[type=checkbox]:checked + label {
  font-family: "Goldplay-Regular";
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: #FF9F99;
  color: #0F0F0F;
  padding: 4px;
}
.modal-preferences__content .preferences-options__container .options-section__checkbox-negative input[type=checkbox]:checked + label .icon-checked {
  display: block;
  padding: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1160A;
  color: #fff;
  position: relative;
  top: -6px;
  right: -6px;
}
.modal-preferences__content .box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: #FFF8E1;
  border-radius: 8px;
  font-size: 14px;
  font-family: "Goldplay-Regular";
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-preferences__content .box-info p {
  margin: 0;
  width: 100%;
}
.modal-preferences__content .box-info b {
  font-family: "Goldplay-Bold";
}
.modal-preferences__actions {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #EEEEEE;
}
.modal-preferences__actions .btn-outline {
  border-radius: 160px;
  padding: 10px 34px;
  border: 1px solid #209c93;
  background-color: #fff;
  font-size: 16px;
  color: #209c93;
  font-family: "Goldplay-Bold";
}
.modal-preferences__actions .btn-outline:hover {
  cursor: pointer;
}
.modal-preferences__actions .btn-filled {
  border-radius: 160px;
  padding: 10px 34px;
  border: 1px solid #209c93;
  background-color: #209c93;
  color: #fff;
  font-size: 16px;
  font-family: "Goldplay-Bold";
}
.modal-preferences__actions .btn-filled:hover {
  cursor: pointer;
}

.modal-info {
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
  padding: 24px;
  padding: 16px;
  font-family: "Goldplay-Regular";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 362px;
  height: auto;
  gap: 8px;
}
@media (max-width: 992px) {
  .modal-info {
    width: 90%;
  }
}
.modal-info p {
  margin: 0;
}
.modal-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.modal-info__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.modal-info__actions .btn-filled {
  border-radius: 160px;
  padding: 10px 34px;
  border: 1px solid #209c93;
  background-color: #209c93;
  color: #fff;
  font-size: 16px;
  font-family: "Goldplay-Bold";
}
.modal-info__actions .btn-filled:hover {
  cursor: pointer;
}
.modal-info__actions a {
  color: #6D6D6D;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}

.resumen-container {
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 0;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  gap: 0;
}
.resumen-container p {
  margin: 0;
}
.resumen-container__analytics {
  background-color: #FFF8E1;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px 0 0 16px;
  width: 35%;
}
@media (max-width: 992px) {
  .resumen-container__analytics {
    width: 100%;
    height: 240px;
  }
}
.resumen-container__info {
  font-family: "Goldplay-Regular";
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 48px;
  gap: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 65%;
}
@media (max-width: 992px) {
  .resumen-container__info {
    padding: 16px;
    width: 100%;
  }
}
.resumen-container__info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.resumen-container__info .title__label {
  font-family: "Goldplay-SemiBold";
  font-size: 14px;
}
.resumen-container__info .food-resumen {
  background-color: #FFF8E1;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  gap: 24px;
}
.resumen-container__info .food-resumen > ol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 8px 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 8px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
}
.resumen-container__info .food-resumen > ol > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.resumen-container__info .food-resumen > ol > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.resumen-container__info .food-resumen > ol > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.resumen-container__info .food-resumen > ol > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.resumen-container__info .food-resumen__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  gap: 16px;
  margin: 0;
  padding: 0;
}
.resumen-container__info .food-resumen__item .content {
  font-family: "Goldplay-Bold";
}
@media (max-width: 992px) {
  .resumen-container__info .food-resumen__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
  }
}
.resumen-container__info .protein-resumen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  font-size: 14px;
}
.resumen-container__info .protein-resumen .content ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}
.resumen-container__info .actions-resumen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
}
.resumen-container__info .actions-resumen .btn-outline-icon {
  width: 100px;
  border-radius: 160px;
  padding: 12px 8px;
  border: 1px solid #EEEEEE;
  background-color: #fff;
  font-size: 12px;
  color: #0F0F0F;
  font-family: "Goldplay-Bold";
}
.resumen-container__info .actions-resumen .btn-outline-icon:hover {
  cursor: pointer;
}

.social-resumen {
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 0;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Goldplay-Regular";
}
.social-resumen__content {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  padding: 32px;
}
@media (max-width: 992px) {
  .social-resumen__content {
    padding: 16px;
  }
}
.social-resumen__content .title, .social-resumen__content p {
  text-align: center;
  margin: 0;
  font-family: "Goldplay-Regular";
}
.social-resumen__content .title .label, .social-resumen__content .title b, .social-resumen__content p .label, .social-resumen__content p b {
  font-family: "Goldplay-Bold";
  color: #209c93;
}
.social-resumen__content .analytics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
}
.social-resumen__content .analytics__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.social-resumen__content .analytics__item h1 {
  margin: 0;
  font-size: 28px;
  font-family: "Goldplay-Bold";
  color: #FCC23F;
}
.social-resumen__content .analytics__item p {
  font-size: 14px;
}
.social-resumen__image > img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 400px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 16px 16px 0;
}

.resumen-kcal {
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05), 0 -2px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-family: "Goldplay-Regular";
}
.resumen-kcal__header {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.resumen-kcal__header h1 {
  font-family: "Goldplay-Bold";
  font-size: 28px;
}
.resumen-kcal__header .dropdown {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 8px;
  border-radius: 8px;
  border: 1px solid #0F0F0F;
  background-color: #fff;
  font-family: "Goldplay-Regular";
  font-size: 16px;
}
.resumen-kcal__footer {
  padding: 24px;
  font-size: 12px;
  color: #6D6D6D;
}

@media (max-width: 992px) {
  .resumen-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resumen-container__analytics {
    height: 240px;
    border-radius: 16px 16px 0 0;
  }

  .social-resumen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-resumen__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .social-resumen__image > img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    height: 290px;
    border-radius: 16px 16px 0 0;
  }
}